/* STYLE SHEET FOR INDEX.HTM */

header{
border-bottom-style: solid;
border-bottom-width: 5px;
border-bottom-color: #d8d8d8;
}

nav{
background: #d8d8d8;
font-weight: bold;
float: left;
height: 420px;
padding-right: 24px;
margin-right: 10px;
}

.navlinks{
display: block;
border: 2px solid #a1a1a1;
padding: 2px 5px;
background: #add8e6;
border-radius: 5px;
text-decoration: none;
box-shadow: 5px 5px 5px #888888;

}

section {
background-image: url("/media/jbqzjpq7sju71.jpeg");
background-repeat: no-repeat;
background-size: cover;

}

h1 {
margin-top: 5px;
margin-bottom: 0;
padding-right: 24px;
margin-right: 10px;
}

body{
font-size: 85%;
border-style: solid;
border-width: 5px;
border-color: #d8d8d8;

}

footer{
font-size: 80%;
text-align: center;
border-top-style: solid;
border-top-width: 5px;
border-top-color: #d8d8d8;
margin-top: 0;
padding: 0;
}

article {
padding: 10px;

}

.floatright{
float: right;
clear: right;
margin: 10px;
}

@font-face{
font-family: oregonfont;
src: url("/media/Oregon_LDO_Book.ttf")
}

#logo{
height: 50px;
width: 50px;


}

#img-rotate {
    
-webkit-transform: rotate(345deg);
transform: rotate(345deg);
}

#video-rotate {
    
-webkit-transform: rotate(15deg); 
transform: rotate(15deg);
}

#logo-rotate {
-webkit-transform: rotateY(180deg); /* Safari and Chrome */
transform: rotateY(180deg);
}

@keyframes logoanimation {
 0% {
    left: 0px;
    top: 0px;
    }
50% {
    left: 200px;
    top: 0px;
    }
100% {
    left: 0px;
    top: 0px;
    }
}

#animation {
position: relative;
/* using both webkit and normal so that it will work on the VScode preview as well */
-webkit-animation-name: logoanimation;
-webkit-animation-duration: 4s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;
animation-name: logoanimation;
animation-duration: 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
}